a:hover {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.breadcrumb {
    margin-bottom: 0;
}

.header {
    background-color: #333;
    margin-bottom: 25px;
}

.header--title-container {
    color:#ECF0F1;
    padding-left:30px;
}

.header--title {

}

.logged-as-label {
    color:#ECF0F1;
}

.nav.nav-tabs {
    cursor: pointer;
}



.ideas-completed, .ideas-started, .ideas-planned, .ideas-considered
{
	border-style:solid;
	border-width:1px;
	border-radius:5px;
	border-color:#3498DB;
	
	margin-bottom:10px;
}

.ideas-started
{
	border-color:#2ECC71;
}

.ideas-planned
{
	border-color:#F1C40F;
}

.ideas-considered
{
	border-color:#95A5A6;
}


.sidemenu
{
	border-style:solid;
	border-width:1px;
	border-color:#C0C0C0;
	padding-left:10px;
	padding-top:8px;
	
	margin-bottom:10px;
}

.container-padding  
{
 padding-left: 50px;
 padding-right: 50px;
}


/* Line up labels and badges with text better */
.label, .badge { 
	vertical-align:2px;
}

