$lato-font-path: '../fonts' !default;
$lato-font-name: Lato !default;

$lato-variants: (
	'hairline' : 100,
	'thin'     : 200,
	'light'    : 300,
	'normal'   : 400,
	'medium'   : 400,
	'semibold' : 500,
	'bold'     : 600,
	'heavy'    : 800,
	'black'    : 900
) !default;